@page "/"

@using System.Linq;

@inject IJSRuntime JsRuntime
@inject NavigationManager Navigation
@inject HttpClient http
<div class="my-5">
	<div class="mb-2 d-flex justify-content-center">
		<button class="btn btn-success" @onclick="launchNewFormMethod">
			ایجاد یک گراف
		</button>
	</div>
		

	@if (launchNewForm)
	{
		<div class="mb-2 d-flex justify-content-center" style="direction: rtl; background-color: lightgray; padding: 20px; margin: 10px;">
			<EditForm Model="Model" OnValidSubmit="InitialGraph">
				<div class="mb-3">
					<label for="Accounts" class="form-label">تعداد حساب ها:</label>
					<InputNumber id="Accounts" class="form-control" @bind-Value="Model.Accounts" />
				</div>

				<div class="mb-3">
					<label for="stores" class="form-label">تعداد پرتراکنش ها:</label>
					<InputNumber id="stores" class="form-control" @bind-Value="Model.Stores" />
				</div>

				<div class="mb-3">
					<label for="Transitions" class="form-label">تعداد تراکنش ها:</label>
					<InputNumber id="Transitions" class="form-control" @bind-Value="Model.Transitions" />
				</div>

				<div class="mb-3 text-left">
					<button type="submit" class="btn btn-success btn-sm" title="جهت ایجاد کلیک کنید">
						ایجاد
					</button>
				</div>

			</EditForm>
		</div>
	}

	<div class="mb-2 d-flex justify-content-center">
		<button class="btn btn-primary" @onclick="launchLoadGraphMethod">
			بارگذاری یک گراف
		</button>
	</div>

	@if (launchLoadGraph)
	{
		<div class="mb-2 d-flex justify-content-center" style="background-color: lightgray; padding: 20px; margin: 10px;">
			<div class="row" style="width: 650px">
				<div class="col-12 d-flex justify-content-between mt-3">
					<span class="btn-outline-dark mt-2 mx-5">
						یک گراف با 250 حساب، 15 پرتراکنش و 375 تراکنش
					</span>
					<button class="btn btn-outline-info" @onclick="() => LoadGraphMethod(1)">
						بارگذاری
					</button>
				</div>
				<div class="col-12 d-flex justify-content-between mt-3">
					<span class="btn-outline-dark mt-2 mx-5">
						یک گراف با 500 حساب، 30 پرتراکنش و 750 تراکنش
					</span>
					<button class="btn btn-outline-primary" @onclick="() => LoadGraphMethod(2)">
						بارگذاری
					</button>
				</div>
				<div class="col-12 d-flex justify-content-between mt-3">
					<span class="btn-outline-dark mt-2 mx-5">
						یک گراف با 1000 حساب، 90 پرتراکنش و 1500 تراکنش
					</span>
					<button class="btn btn-outline-success" @onclick="() => LoadGraphMethod(3)">
						بارگذاری
					</button>
				</div>
				<div class="col-12 d-flex justify-content-between mt-3">
					<span class="btn-outline-dark mt-2 mx-5">
						یک گراف با 4000 حساب، 500 پرتراکنش و 9000 تراکنش
					</span>
					<button class="btn btn-outline-warning" @onclick="() => LoadGraphMethod(4)">
						بارگذاری
					</button>
				</div>
				@if (open)
				{
					<div class="col-12 d-flex justify-content-between mt-3">
						<span class="btn-outline-dark mt-2 mx-5">
							Test (Secret Key)
						</span>
						<button class="btn btn-dark" @onclick="() => LoadGraphMethod(1000)">
							Load
						</button>
					</div>
				}
			</div>
			
		</div>
		
	}

	<div class="mb-2 d-flex justify-content-center">
		<button class="btn btn-danger" @onclick="launchServerGraphMethod">
			بارگذاری گراف از سرور
		</button>
	</div>

</div>

@if (IsGraphReady)
{
    <div class="d-flex justify-content-center align-content-center fade-in">
		<button class="btn btn-dark btn-lg" @onclick="launchGraphMethod">
			گراف آماده است، جهت نمایش کلیک کنید
		</button>
	</div>

}

@if (launchGraph)
{
	<DirecedGraph graph="@(graph)" 
		OnCloseGraph="@(CloseGraph)"
		OnReposition="@(ToReposition)"
		HeightMain="@(HeightMain)"
		WidthMain="@(WidthMain)"
		Height="@(GraphHeight)"
		Width="@(GraphWidth)"
		Scale="@(GraphScale)"/>
}




@code {

	public Classes.DirectedGraph graph { get; set; }

	public Classes.GraphDetails Model { get; set; }

	private bool IsGraphReady { get; set; }
	private bool launchGraph { get; set; }
	private bool launchNewForm { get; set; }
	private bool launchLoadGraph { get; set; }

	private double HeightMain { get; set; }
	private double WidthMain { get; set; }

	private double GraphHeight { get; set; }
	private double GraphWidth { get; set; }
	private double GraphScale { get; set; }

	private int secretKeyCounter { get; set; }
	private bool open { get; set; }

	private bool IsGraphLoaded {  get; set; }




	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();

		graph = new Classes.DirectedGraph();
		Model = new Classes.GraphDetails();

		IsGraphReady = false;
		launchGraph = false;
		launchNewForm = false;
		launchLoadGraph = false;

		secretKeyCounter = 0;
		open = false;

		IsGraphLoaded = false;
	}

	public void launchNewFormMethod()
	{
		secretKeyCounter = 0;
		open = false;
		launchNewForm = !launchNewForm;
		launchLoadGraph = false;
		IsGraphReady = false;
	}

	public async Task InitialGraph()
	{
		secretKeyCounter = 0;
		open = false;

		Random rnd = new Random();

		Classes.DirectedGraph tempGraph = new Classes.DirectedGraph(); 
		List<int> stores = new List<int>();
		List<Classes.Vertex> allVertexes = new List<Classes.Vertex>();

		Console.WriteLine("creating Stores ...");
		for (int j = 0; j < Model.Stores; j++)
		{
			int num = rnd.Next(0, Model.Accounts);
			if (!stores.Contains(num))
			{
				stores.Add(num);
			}
		}

		Console.WriteLine("creating Accounts ...");
		for (int i = 0; i < Model.Accounts; i++)
		{
			Console.WriteLine(i);
			var vertex = new Classes.Vertex()
			{
				Name = i.ToString(),
				IsStore = stores.Contains(i) ? true : false,
			};
			tempGraph.AddVertex(vertex);
			if (vertex.IsStore) tempGraph.AddStore(vertex);
		}



		Console.WriteLine("creating Transitions ...");
		for (int i = 0; i < Model.Transitions; i++)
		{
			Console.WriteLine(i);
			int num1 = rnd.Next(0, Model.Accounts);
			int num2 = 0;
			int possibilityNum = rnd.Next(0, 100);

			if (possibilityNum < 70)
			{
				num2 = stores[(rnd.Next(0, stores.Count))];
			}
			else
			{
				num2 = rnd.Next(0, Model.Accounts);
			}

			while (num1 == num2)
			{
				if (possibilityNum < 70)
				{
					num2 = stores[(rnd.Next(0, stores.Count))];
				}
				else
				{
					num2 = rnd.Next(0, Model.Accounts);
				}
			}

			var v1 = tempGraph.GetVertexSet().FirstOrDefault(v => v.Name == (num1).ToString());
			var v2 = tempGraph.GetVertexSet().FirstOrDefault(v => v.Name == (num2).ToString());

			if (v1 != null && v2 != null)
			{
				tempGraph.AddEdge(v1, v2, "Label #" + (i + 1));

			}
		}



		foreach (var item in tempGraph.GetVertexSet())
		{
			tempGraph.AdjacentVertices(item);
			tempGraph.EntriesVertices(item);
		}

		Console.WriteLine("determining Accounts rate ...");

		int storesEntriesCount = 0;

		foreach (var iStore in tempGraph.GetStoresSet())
		{
			storesEntriesCount = storesEntriesCount + iStore.Entries.Count;
		}

		int range = storesEntriesCount / tempGraph.GetStoresSet().Count;

		int green = 0;
		int yellow = 0;
		int orange = 0;
		int red = 0;

		var list1 = tempGraph.GetVertexSet();

		foreach (var item in list1)
		{

			var count = item.Entries.Count;
			Console.WriteLine($"count {count} range {range}");
			if(count <= (range / 4))
			{
				item.Color = "green";
				item.IconSize = 4;
				green++;
			}
			else if (count >= (range / 4) && count < (range / 4) * 2)
			{
				item.Color = "yellow";
				item.IconSize = 5;
				yellow++;
			}
			else if (count >= (range / 4) * 2 && count < (range / 4) * 3)
			{
				item.Color = "orange";
				item.IconSize = 6;
				orange++;
			}
			else if (count >= (range / 4) * 3 && count < range)
			{
				item.Color = "orange";
				item.IconSize = 9;
				red++;
			}
			else if (count >= range)
			{
				item.Color = "red";
				item.IconSize = 12 + (count - range) * 2;
				red++;
			}
		}

		Console.WriteLine("grouping Accounts ...");


		graph = await Infrastructure.Utility.GroupingNodes(tempGraph);

		await GetDimentions();

		GetGraphDimention();

		graph = await Infrastructure.Utility.GetPositions(tempGraph, GraphWidth, GraphHeight, IsGraphLoaded);

		Console.WriteLine("nn");

		graph = await Infrastructure.Utility.Connect(graph);

		IsGraphReady = true;
		launchNewForm = false;

		Console.WriteLine(">>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Finished");
	}

	public void launchLoadGraphMethod()
	{
		if(secretKeyCounter >= 4)
		{
			open = true;
			secretKeyCounter = 0;
		}
		else
		{
			open = false;
			secretKeyCounter++;	
		}

		launchLoadGraph = !launchLoadGraph;
		launchNewForm = false;
		IsGraphReady = false;
	}

	public async Task launchServerGraphMethod()
	{
		secretKeyCounter = 0;
		open = false;
		launchNewForm = false;
		launchLoadGraph = false;
		IsGraphReady = false;

		try
		{
			// var responseTransitions = await http.PostAsync("https://nazmdb:44395/api/AccountRelations/FetchAllPost", null);
			// var dataTransitions = await responseTransitions.Content.ReadAsStringAsync();
			var dataTransitions = "[{'FromAccountNo':12345,'ToAccountNo':13},{'FromAccountNo':37,'ToAccountNo':369005987},{ 'FromAccountNo':13,'ToAccountNo':48},{ 'FromAccountNo':28,'ToAccountNo':12},{ 'FromAccountNo':28,'ToAccountNo':14},{ 'FromAccountNo':28,'ToAccountNo':40},{ 'FromAccountNo':32,'ToAccountNo':43},{ 'FromAccountNo':28,'ToAccountNo':44},{ 'FromAccountNo':35,'ToAccountNo':34},{ 'FromAccountNo':35,'ToAccountNo':38},{ 'FromAccountNo':13,'ToAccountNo':10},{ 'FromAccountNo':30,'ToAccountNo':11},{ 'FromAccountNo':35,'ToAccountNo':38},{ 'FromAccountNo':32,'ToAccountNo':29},{ 'FromAccountNo':35,'ToAccountNo':41},{ 'FromAccountNo':35,'ToAccountNo':33},{ 'FromAccountNo':35,'ToAccountNo':33},{ 'FromAccountNo':30,'ToAccountNo':42},{ 'FromAccountNo':28,'ToAccountNo':12},{ 'FromAccountNo':32,'ToAccountNo':31},{ 'FromAccountNo':30,'ToAccountNo':18},{ 'FromAccountNo':13,'ToAccountNo':36},{ 'FromAccountNo':37,'ToAccountNo':24},{ 'FromAccountNo':32,'ToAccountNo':8},{ 'FromAccountNo':32,'ToAccountNo':47},{ 'FromAccountNo':35,'ToAccountNo':15},{ 'FromAccountNo':35,'ToAccountNo':25},{ 'FromAccountNo':13,'ToAccountNo':27},{ 'FromAccountNo':37,'ToAccountNo':17},{ 'FromAccountNo':28,'ToAccountNo':12},{ 'FromAccountNo':35,'ToAccountNo':19},{ 'FromAccountNo':30,'ToAccountNo':21},{ 'FromAccountNo':30,'ToAccountNo':45},{ 'FromAccountNo':13,'ToAccountNo':39},{ 'FromAccountNo':37,'ToAccountNo':22},{ 'FromAccountNo':23456,'ToAccountNo':28},{ 'FromAccountNo':23456,'ToAccountNo':30},{ 'FromAccountNo':12345,'ToAccountNo':35},{ 'FromAccountNo':12345,'ToAccountNo':32},{ 'FromAccountNo':12345,'ToAccountNo':37},{ 'FromAccountNo':12345,'ToAccountNo':23456},{ 'FromAccountNo':34567,'ToAccountNo':50},{ 'FromAccountNo':50,'ToAccountNo':51},{ 'FromAccountNo':50,'ToAccountNo':52},{ 'FromAccountNo':50,'ToAccountNo':53},{ 'FromAccountNo':34567,'ToAccountNo':60},{ 'FromAccountNo':60,'ToAccountNo':61},{ 'FromAccountNo':60,'ToAccountNo':62}]";
			var transitions = Newtonsoft.Json.JsonConvert.DeserializeObject<List<Dictionary<string, string>>>(dataTransitions);


			//var responseAccounts = await http.PostAsync("https://nazmdb:44395/api/AccountColors/FetchAllPost", null);
			//var dataAccounts = await responseAccounts.Content.ReadAsStringAsync();
			var dataAccounts = "[{'AccountNo':12345,'AccountCount':30,'AccountColor':'red','Title':'اکبر اکبری','Descript':'0123456789'},{'AccountNo':23456,'AccountCount':30,'AccountColor':'red','Title':'اکبر اکبری','Descript':'0123456789'},{ 'AccountNo':34567,'AccountCount':30,'AccountColor':'red','Title':'کلیم کلیم زاده','Descript':'2345678901'},{ 'AccountNo':369005987,'AccountCount':6,'AccountColor':'green','Title':'تست اوراکل تست اوراکل','Descript':'7000000000'},{ 'AccountNo':8,'AccountCount':6,'AccountColor':'green','Title':'مشتري 8 ن خ مشتري 8','Descript':'8000000000'},{ 'AccountNo':10,'AccountCount':6,'AccountColor':'green','Title':'مشتري 10 ن خ مشتري 10','Descript':'1000000000'},{ 'AccountNo':11,'AccountCount':6,'AccountColor':'green','Title':'مشتري 11 ن خ مشتري 11','Descript':'1100000000'},{ 'AccountNo':12,'AccountCount':6,'AccountColor':'green','Title':'مشتري 12 ن خ مشتري 12','Descript':'1200000000'},{ 'AccountNo':13,'AccountCount':18,'AccountColor':'yellow','Title':'مشتري 13 ن خ مشتري 13','Descript':'1300000000'},{ 'AccountNo':14,'AccountCount':6,'AccountColor':'green','Title':'مشتري 14 ن خ مشتري 14','Descript':'1400000000'},{ 'AccountNo':15,'AccountCount':6,'AccountColor':'green','Title':'مشتري 15 ن خ مشتري 15','Descript':'1500000000'},{ 'AccountNo':17,'AccountCount':6,'AccountColor':'green','Title':'مشتري 17 ن خ مشتري 17','Descript':'1700000000'},{ 'AccountNo':18,'AccountCount':6,'AccountColor':'green','Title':'مشتري 18 ن خ مشتري 18','Descript':'1800000000'},{ 'AccountNo':19,'AccountCount':6,'AccountColor':'green','Title':'مشتري 19 ن خ مشتري 19','Descript':'1900000000'},{ 'AccountNo':21,'AccountCount':6,'AccountColor':'green','Title':'مشتري 21 ن خ مشتري 21','Descript':'2100000000'},{ 'AccountNo':22,'AccountCount':6,'AccountColor':'green','Title':'مشتري 22 ن خ مشتري 22','Descript':'2200000000'},{ 'AccountNo':24,'AccountCount':6,'AccountColor':'green','Title':'مشتري 24 ن خ مشتري 24','Descript':'2400000000'},{ 'AccountNo':25,'AccountCount':6,'AccountColor':'green','Title':'مشتري 25 ن خ مشتري 25','Descript':'2500000000'},{ 'AccountNo':27,'AccountCount':6,'AccountColor':'green','Title':'مشتري 27 ن خ مشتري 27','Descript':'2700000000'},{ 'AccountNo':28,'AccountCount':18,'AccountColor':'yellow','Title':'مشتري 28 ن خ مشتري 28','Descript':'2800000000'},{ 'AccountNo':29,'AccountCount':6,'AccountColor':'green','Title':'مشتري 29 ن خ مشتري 29','Descript':'2900000000'},{ 'AccountNo':30,'AccountCount':18,'AccountColor':'yellow','Title':'مشتري 30 ن خ مشتري 30','Descript':'3000000000'},{ 'AccountNo':31,'AccountCount':6,'AccountColor':'green','Title':'مشتري 31 ن خ مشتري 31','Descript':'3100000000'},{ 'AccountNo':32,'AccountCount':18,'AccountColor':'yellow','Title':'مشتري 32 ن خ مشتري 32','Descript':'3200000000'},{ 'AccountNo':33,'AccountCount':6,'AccountColor':'green','Title':'مشتري 33 ن خ مشتري 33','Descript':'3300000000'},{ 'AccountNo':34,'AccountCount':6,'AccountColor':'green','Title':'مشتري 34 ن خ مشتري 34','Descript':'3400000000'},{ 'AccountNo':35,'AccountCount':18,'AccountColor':'yellow','Title':'مشتري 35 ن خ مشتري 35','Descript':'3500000000'},{ 'AccountNo':36,'AccountCount':6,'AccountColor':'green','Title':'مشتري 36 ن خ مشتري 36','Descript':'3600000000'},{ 'AccountNo':37,'AccountCount':18,'AccountColor':'yellow','Title':'مشتري 37 ن خ مشتري 37','Descript':'3700000000'},{ 'AccountNo':38,'AccountCount':6,'AccountColor':'green','Title':'مشتري 38 ن خ مشتري 38','Descript':'3800000000'},{ 'AccountNo':39,'AccountCount':6,'AccountColor':'green','Title':'مشتري 39 ن خ مشتري 39','Descript':'3900000000'},{ 'AccountNo':40,'AccountCount':6,'AccountColor':'green','Title':'مشتري 40 ن خ مشتري 40','Descript':'4000000000'},{ 'AccountNo':41,'AccountCount':6,'AccountColor':'green','Title':'مشتري 41 ن خ مشتري 41','Descript':'4100000000'},{ 'AccountNo':42,'AccountCount':6,'AccountColor':'green','Title':'مشتري 42 ن خ مشتري 42','Descript':'4200000000'},{ 'AccountNo':43,'AccountCount':6,'AccountColor':'green','Title':'مشتري 43 ن خ مشتري 43','Descript':'4300000000'},{ 'AccountNo':44,'AccountCount':6,'AccountColor':'green','Title':'مشتري 44 ن خ مشتري 44','Descript':'4400000000'},{ 'AccountNo':45,'AccountCount':6,'AccountColor':'green','Title':'مشتري 45 ن خ مشتري 45','Descript':'4500000000'},{ 'AccountNo':47,'AccountCount':6,'AccountColor':'green','Title':'مشتري 47 ن خ مشتري 47','Descript':'4700000000'},{ 'AccountNo':48,'AccountCount':6,'AccountColor':'green','Title':'مشتري 48 ن خ مشتري 48','Descript':'4800000000'},{ 'AccountNo':50,'AccountCount':18,'AccountColor':'yellow','Title':'مشتري 50 ن خ مشتري 50','Descript':'5000000000'},{ 'AccountNo':60,'AccountCount':18,'AccountColor':'yellow','Title':'مشتري 60 ن خ مشتري 60','Descript':'6000000000'},{ 'AccountNo':51,'AccountCount':6,'AccountColor':'green','Title':'مشتري 51 ن خ مشتري 51','Descript':'5100000000'},{ 'AccountNo':52,'AccountCount':6,'AccountColor':'green','Title':'مشتري 52 ن خ مشتري 52','Descript':'5200000000'},{ 'AccountNo':53,'AccountCount':6,'AccountColor':'green','Title':'مشتري 53 ن خ مشتري 53','Descript':'5300000000'},{ 'AccountNo':61,'AccountCount':6,'AccountColor':'green','Title':'مشتري 61 ن خ مشتري 61','Descript':'6100000000'},{ 'AccountNo':62,'AccountCount':6,'AccountColor':'green','Title':'مشتري 62 ن خ مشتري 62','Descript':'6200000000'}]";
			var accounts = Newtonsoft.Json.JsonConvert.DeserializeObject<List<Models.Account>>(dataAccounts);


			if(transitions != null && accounts != null)
			{
				graph = new Classes.DirectedGraph();

				foreach(var acc in accounts)
				{
					graph.AddVertex(new Classes.Vertex
					{
						Id = acc.AccountNo, 
						Name = acc.Title,
						Color = acc.AccountColor,
						IconSize = (acc.AccountCount),
					});
				}

				var count = 1;
				foreach (var transition in transitions)
				{

					var l = new List<string>();
					foreach (var i in transition)
					{
						l.Add(i.Value);
					}

					var start = graph.GetVertexSet().FirstOrDefault(v => v.Id.ToString() == l[1]);
					var end = graph.GetVertexSet().FirstOrDefault(v => v.Id.ToString() == l[0]);

					if(start != null && end != null)
					{
						graph.AddEdge(start, end, "Label #" + (count + 1));
						start.Adjacents.Add(end.Name);
						end.Adjacents.Add(start.Name);
						end.Entries.Add(start.Name);
					}

					count++;
				}

				foreach (var item in graph.GetVertexSet())
				{
					item.IsStore = item.Id > 1000 ? true : false;

					if(item.IsStore) 
						graph.Stores.Add(item);
				}

				graph = await Infrastructure.Utility.GroupingNodes(graph, false);

				await GetDimentions();

				GetGraphDimention();

				graph = await Infrastructure.Utility.GetPositions(graph, GraphWidth, GraphHeight, IsGraphLoaded);

				Console.WriteLine("nn");

				graph = await Infrastructure.Utility.Connect(graph);

				if (graph.GetVertexSet().Count() > 0)
				{
					IsGraphReady = true;
					IsGraphLoaded = true;
				}


				secretKeyCounter = 0;
				open = false;
			}
			else
			{
				throw new Exception("پاسخی از سمت سرور دریافت نشد.");	
			}

		}
		catch (Exception m)
		{
			Console.WriteLine(m);
		}
	}

	public async Task LoadGraphMethod(int graphNum)
	{
		IsGraphReady = false;
		graph = new Classes.DirectedGraph();
		var responce = "";

		switch (graphNum)
		{
			case 1:
				responce = await http.GetStringAsync("./content/json/Acc 250 - st 15 - tr 375.json");
				graph = Newtonsoft.Json.JsonConvert.DeserializeObject<Classes.DirectedGraph>(responce);
				break;
			case 2:
				responce = await http.GetStringAsync("./content/json/Acc 500 - st 30 - tr 750.json");
				graph = Newtonsoft.Json.JsonConvert.DeserializeObject<Classes.DirectedGraph>(responce);
				break;
			case 3:
				responce = await http.GetStringAsync("./content/json/Acc 1000 - st 90 - tr 1500.json");
				graph = Newtonsoft.Json.JsonConvert.DeserializeObject<Classes.DirectedGraph>(responce);
				break;
			case 4:
				responce = await http.GetStringAsync("./content/json/Acc 4000- st 500 - tr 9000.json");
				graph = Newtonsoft.Json.JsonConvert.DeserializeObject<Classes.DirectedGraph>(responce);
				break;
			case 1000:
				responce = await http.GetStringAsync("./content/json/test.json");
				graph = Newtonsoft.Json.JsonConvert.DeserializeObject<Classes.DirectedGraph>(responce);
				break;
			default:
				return;
		}



		await GetDimentions();

		if (graph.GetVertexSet().Count() > 0)
		{
			IsGraphReady = true;
			launchNewForm = false;
			launchLoadGraph = false;
			IsGraphLoaded = true;
		}


		secretKeyCounter = 0;
		open = false;
	}

	public async Task launchGraphMethod()
	{
		secretKeyCounter = 0;
		open = false;

		var height = HeightMain;
		await GetDimentions();

		GetGraphDimention();

		if (height == HeightMain)
		{
			launchGraph = true;
		}
		else
		{

			graph = await Infrastructure.Utility.GetPositions(graph, GraphWidth, GraphHeight, IsGraphLoaded);
			graph = await Infrastructure.Utility.Connect(graph);

			launchGraph = true;
		}

	}

	private async Task GetDimentions()
	{
		Dictionary<string, string> displayDimention = await JsRuntime.InvokeAsync<Dictionary<string, string>>("getElementDimension", "body");

		WidthMain = double.Parse(displayDimention["width"]);
		HeightMain = double.Parse(displayDimention["height"]);
	}

	private async Task GetGraphDimention()
	{
		var transitions = graph.GetEdgeSet().Count();
		if (transitions <= 400 * (Math.Pow(1.2, 1)))
		{
			GraphHeight = HeightMain * 0.8 * (1.1);
			GraphWidth = WidthMain * 0.9 * (1.1);
			GraphScale = 1;
			Console.WriteLine($"NUMBER 1");
		}
		else if (transitions > 400 * (Math.Pow(1.2, 1)) && transitions <= 400 * (Math.Pow(1.2, 2)))
		{
			GraphHeight = HeightMain * 0.8 * (Math.Pow(1.1, 2));
			GraphWidth = WidthMain * 0.9 * (Math.Pow(1.1, 2));
			GraphScale = 0.9;
			Console.WriteLine($"NUMBER 2");
		}
		else if (transitions > 400 * (Math.Pow(1.2, 2)) && transitions <= 400 * (Math.Pow(1.2, 3)))
		{
			GraphHeight = HeightMain * 0.8 * (Math.Pow(1.1, 3));
			GraphWidth = WidthMain * 0.9 * (Math.Pow(1.1, 3));
			GraphScale = 0.8;
			Console.WriteLine($"NUMBER 3");
		}
		else if (transitions > 400 * (Math.Pow(1.2, 3)) && transitions <= 400 * (Math.Pow(1.2, 4)))
		{
			GraphHeight = HeightMain * 0.8 * (Math.Pow(1.1, 4));
			GraphWidth = WidthMain * 0.9 * (Math.Pow(1.1, 4));
			GraphScale = 0.7;
			Console.WriteLine($"NUMBER 4");
		}
		else if (transitions > 400 * (Math.Pow(1.2, 4)) && transitions <= 400 * (Math.Pow(1.2, 6)))
		{
			GraphHeight = HeightMain * 0.8 * (Math.Pow(1.1, 6));
			GraphWidth = WidthMain * 0.9 * (Math.Pow(1.1, 6));
			GraphScale = 0.6;
			Console.WriteLine($"NUMBER 6");
		}
		else if (transitions > 400 * (Math.Pow(1.2, 6)) && transitions <= 400 * (Math.Pow(1.2, 8)))
		{
			GraphHeight = HeightMain * 0.8 * (Math.Pow(1.1, 8));
			GraphWidth = WidthMain * 0.9 * (Math.Pow(1.1, 8));
			GraphScale = 0.5;
			Console.WriteLine($"NUMBER 8");
		}
		else if (transitions > 400 * (Math.Pow(1.2, 8)) && transitions <= 400 * (Math.Pow(1.2, 10)))
		{
			GraphHeight = HeightMain * 0.8 * (Math.Pow(1.1, 10));
			GraphWidth = WidthMain * 0.9 * (Math.Pow(1.1, 10));
			GraphScale = 0.4;
			Console.WriteLine($"NUMBER 10");
		}
		else if (transitions > 400 * (Math.Pow(1.2, 10)) && transitions <= 400 * (Math.Pow(1.2, 12)))
		{
			GraphHeight = HeightMain * 0.8 * (Math.Pow(1.1, 12));
			GraphWidth = WidthMain * 0.9 * (Math.Pow(1.1, 12));
			GraphScale = 0.3;
			Console.WriteLine($"NUMBER 12");
		}
		else if (transitions > 400 * (Math.Pow(1.2, 12)) && transitions <= 400 * (Math.Pow(1.2, 13)))
		{
			GraphHeight = HeightMain * 0.8 * (Math.Pow(1.1, 13));
			GraphWidth = WidthMain * 0.9 * (Math.Pow(1.1, 13));
			GraphScale = 0.2;
			Console.WriteLine($"NUMBER 13");
		}
		else if (transitions > 400 * (Math.Pow(1.2, 13)) && transitions <= 400 * (Math.Pow(1.2, 14)))
		{
			GraphHeight = HeightMain * 0.8 * (Math.Pow(1.1, 14));
			GraphWidth = WidthMain * 0.9 * (Math.Pow(1.1, 14));
			GraphScale = 0.2;
			Console.WriteLine($"NUMBER 14");
		}
		else if (transitions > 400 * (Math.Pow(1.2, 14)) && transitions <= 400 * (Math.Pow(1.2, 15)))
		{
			GraphHeight = HeightMain * 0.8 * (Math.Pow(1.1, 15));
			GraphWidth = WidthMain * 0.9 * (Math.Pow(1.1, 15));
			GraphScale = 0.2;
			Console.WriteLine($"NUMBER 15");
		}
		else if (transitions > 400 * (Math.Pow(1.2, 15)) && transitions <= 400 * (Math.Pow(1.2, 16)))
		{
			GraphHeight = HeightMain * 0.8 * (Math.Pow(1.1, 16));
			GraphWidth = WidthMain * 0.9 * (Math.Pow(1.1, 16));
			GraphScale = 0.2;
			Console.WriteLine($"NUMBER 16");
		}
		else if (transitions > 400 * (Math.Pow(1.2, 16)) && transitions <= 400 * (Math.Pow(1.2, 17)))
		{
			GraphHeight = HeightMain * 0.8 * (Math.Pow(1.1, 17));
			GraphWidth = WidthMain * 0.9 * (Math.Pow(1.1, 17));
			GraphScale = 0.2;
			Console.WriteLine($"NUMBER 17");
		}
		else if (transitions > 400 * (Math.Pow(1.2, 17)))
		{
			GraphHeight = HeightMain * 0.8 * (Math.Pow(1.1, 18));
			GraphWidth = WidthMain * 0.9 * (Math.Pow(1.1, 18));
			GraphScale = 0.1;
		}
	}



	public async Task CloseGraph()
	{
		launchGraph = false;
		Navigation.NavigateTo("/", true);
	}

	public async Task ToReposition()
	{
		graph = await Infrastructure.Utility.GetPositions(graph, GraphWidth, GraphHeight, IsGraphLoaded);


			graph = await Infrastructure.Utility.Connect(graph, true);


		
		StateHasChanged();
	}

}